@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Outfit", system-ui, sans-serif;
  
  --color-primary-50: #fef2f2;
  --color-primary-500: #ef4444; /* Swiggy / Zomato style red */
  --color-primary-600: #dc2626;

  --color-surface-50: #f8fafc;
  --color-surface-100: #f1f5f9;
  --color-surface-900: #0f172a;
}

@layer base {
  body {
    @apply bg-surface-50 text-surface-900 font-sans antialiased;
  }
}
